* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin Flex-Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-wrapper {
    height: 25rem;
    width: 25rem;
    background: #4A154B;

    form {
        height: 100%;
        width: 100%;
        @include Flex-Center();
        flex-direction: column;

        input, button {
            width: 55%;
            margin-top: 1.5rem;
        }
    }
}